* {
    /* estilos para resetear la pagina */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* para scroll suave entre secciones*/
    font-family: Montserrat, sans-serif;
    /* tipo de letra de la pagina */
}

body {
    background-color: #fafafa;
}

.header {
    /* Estilos del header de la pagina */
    background-color: #172D43;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo_flynova {
    /* tamaño del logo del header */
    width: 250px;
}

.icono_user {
    /* tamaño del icono de user */
    height: 24px;
}

.menu_navegacion {
    /* estilos del menu de navegacion entre las secciones */
    color: white;
}

.container_botones_header {
    /* contenedor de los botones de moneda y de iniciar
    sesion */
    display: flex;
    align-items: center;

}

.boton_moneda {
    /* estilos del boton moneda */
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    width: 140px;
}

.boton_iniciar_sesion {
    /* estilos del boton iniciar sesion */
    display: flex;
    align-items: center;
    width: 165px;
    height: 45px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    p {
        width: 120px;
    }
}

.boton_iniciar_sesion:hover,
.boton_iniciar_sesion_movil:hover {
    /* estilos de cuando se hace hocer en el boton de 
    iniciar sesion */
    background-color: transparent;
    filter: invert(100%);
    border: 2px solid black;
    transform: translateY(-3px);
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.5);
}

.boton_iniciar_sesion:active {
    /* se reduce el la escala del boton cuando se le 
    da click para dar la sensacion que se dio click */
    scale: 0.95;
}

.separacion {
    /* separación del formulario al la parte superior del header */
    height: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    /* formulario de busqueda */
    padding: 20px;
    display: flex;
    width: 90%;
}

.container-busqueda {
    /* contenedor de los elementos del formulario */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.vuelo-ida,
/* posicion relativa para los contenedores de los inputs de vuelo de ida,
destino y cantidad de personas para ubicar los iconos dentro */
.destino,
.cantidad-personas {
    position: relative;
}

.vuelo-ida input,
/* estilos de los inputs de vuelo de ida y de destino */
.destino input {
    font-size: 18px;
    width: 240px;
    height: 50px;
    border: 2px solid #999999;
    border-radius: 0.5rem;
    padding: 5px 5px 5px 40px;
}

.vuelo-ida img,
/* estilos de los iconos de los inputs */
.destino img,
.cantidad-personas img {
    height: 24px;
    position: absolute;
    top: 11px;
    left: 10px;
}

.fecha {
    /* estilos del input de tipo date para la fecha */
    font-size: 18px;
    width: 300px;
    height: 50px;
    border: 2px solid #999999;
    border-radius: 0.5rem;
    padding: 5px 40px 5px 40px;
}

.cantidad-personas input {
    /* estilos del input de tipo numerico para la cantidad de personas */
    font-size: 18px;
    width: 90px;
    height: 50px;
    border: 2px solid #999999;
    border-radius: 0.3rem;
    padding: 5px 5px 5px 40px;
}

form button {
    /* estilos del boton de buscar del formulario */
    height: 50px;
    width: 100px;
    border-radius: 0.5rem;
    background-color: #172D43;
    color: white;
    font-size: 16px;
}

.container-info-viaje {
    width: 100%;
    padding-left: 9vw;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-fechas {
    /* Contenedor del carrusel de los dias de la semana con el precio */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
}

.jueves {
    /* estilo del dia de la semana escogido */
    font-size: 18px;
    border-radius: 0.7rem;
    font-weight: 500;
    gap: 10px;
    border: 2px solid #03A691;
    box-shadow: 0px 0px 10px -5px #03A691;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.dias {
    /* estilo de los dias de la semana menos del que está selecionado */
    font-weight: 500;
    font-size: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.izquierda {
    /* Rotacion e la flecha del lado derecho de los dias de la semana */
    height: 40px;
    transform: rotate(180deg);
}

.derecha {
    height: 40px;
}


/* RESPONSIVE */
@media(max-width: 1350px) {

    /* HEADER */
    .mostrar-menu,
    .ocultar-menu {
        /* para que aparezcan los elementos de la hamburquesa */
        display: block;
    }

    .boton_moneda {
        display: none !important;
    }




    .vuelo-ida input,
    /* estilos de los inputs de vuelo de ida y de destino */
    .destino input {
        font-size: 1rem;
        width: 150px;
        height: 45px;
        border: 2px solid #999999;
        border-radius: 0.5rem;
        padding: 5px 5px 5px 40px;
    }

    .vuelo-ida img,
    /* estilos de los iconos de los inputs */
    .destino img,
    .cantidad-personas img {
        height: 22px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    .fecha {
        /* estilos del input de tipo date para la fecha */
        font-size: 1rem;
        width: 150px;
        height: 45px;
        border: 2px solid #999999;
        border-radius: 0.5rem;
        padding: 5px;
    }

    .cantidad-personas input {
        /* estilos del input de tipo numerico para la cantidad de personas */
        font-size: 18px;
        width: 80px;
        height: 45px;
        border: 2px solid #999999;
        border-radius: 0.5rem;
        padding: 5px 5px 5px 40px;
    }

    form button {
        /* estilos del boton de buscar del formulario */
        height: fit-content;
        width: fit-content;
        padding: 11px 10px;
        border-radius: 0.5rem;
        background-color: #172D43;
        color: white;
        font-size: 16px;
    }





    .container-info-viaje {
        font-size: 0.8rem;
    }

    .container-fechas {
        /* Contenedor del carrusel de los dias de la semana con el precio */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 80px;
    }

    .jueves {
        /* estilo del dia de la semana escogido */
        font-size: 0.8rem;
        
    }

    .dias {
        /* estilo de los dias de la semana menos del que está selecionado */
        font-weight: 500;
        font-size: 0.8rem;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
    }

    .izquierda {
        /* Rotacion e la flecha del lado derecho de los dias de la semana */
        height: 40px;
        transform: rotate(180deg);
    }

    .derecha {
        height: 40px;
    }

    .ocultar-t{
        display: none;
    }

}



@media(max-width: 500px) {

    /* HEADER */
    /* se ajusta el tamaño del logo */
    .logo_flynova {
        width: 180px;
    }

    .header {
        padding: 0 20px;
    }

    .boton_iniciar_sesion {
        /* estilos del boton iniciar sesion */
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        gap: 10px;
        font-size: 0.8rem;
        font-weight: 500;
        outline: none;
        border: 2px solid transparent;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 8px 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        p {
            width: fit-content;
        }

        img {
            height: 18px;
        }
    }

    .separacion {
        /* separación del formulario al la parte superior del header */
        height: 70px;
    }

    form {
        /* formulario de busqueda */
        padding: 20px 0 0 0;
        display: flex;
        width: 100%;
    }

    .vuelo-ida input,
    /* estilos de los inputs de vuelo de ida y de destino */
    .destino input {
        font-size: 0.8rem;
        width: 100px;
        height: 40px;
        border: 2px solid #999999;
        border-radius: 0.5rem;
        padding: 5px 5px 5px 30px;
    }

    .vuelo-ida img,
    /* estilos de los iconos de los inputs */
    .destino img,
    .cantidad-personas img {
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    .fecha {
        /* estilos del input de tipo date para la fecha */
        font-size: 0.7rem;
        width: 100px;
        height: 40px;
        border: 2px solid #999999;
        border-radius: 0.5rem;
        padding: 5px;
    }

    .cantidad-personas input {
        /* estilos del input de tipo numerico para la cantidad de personas */
        font-size: 0.9rem;
        width: 60px;
        height: 40px;
        border: 2px solid #999999;
        border-radius: 0.5rem;
        padding: 5px 5px 5px 30px;
    }

    form button {
        /* estilos del boton de buscar del formulario */
        height: fit-content;
        width: fit-content;
        padding: 11px 5px;
        border-radius: 0.5rem;
        background-color: #172D43;
        color: white;
        font-size: 0.8rem;
    }




    .container-info-viaje {
        width: 100%;
        padding-left: 5px;
        font-size: 0.5rem;
    }

}