* {
    /* estilos para resetear la pagina */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* para scroll suave entre secciones*/
    font-family: Montserrat, sans-serif;
    /* tipo de letra de la pagina */
}

body {
    background-color: #fafafa;
}

.header {
    /* Estilos del header de la pagina */
    background-color: #172D43;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo_flynova {
    /* tamaño del logo del header */
    width: 250px;
}

.icono_user {
    /* tamaño del icono de user */
    height: 24px;
}

.menu_navegacion {
    /* estilos del menu de navegacion entre las secciones */
    color: white;
}

.container_botones_header {
    /* contenedor de los botones de moneda y de iniciar
    sesion */
    display: flex;
    align-items: center;

}

.boton_moneda {
    /* estilos del boton moneda */
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    width: 140px;
}

.boton_iniciar_sesion {
    /* estilos del boton iniciar sesion */
    display: flex;
    align-items: center;
    width: 165px;
    height: 45px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    p {
        width: 120px;
    }
}

.boton_iniciar_sesion:hover {
    /* estilos de cuando se hace hocer en el boton de 
    iniciar sesion */
    background-color: transparent;
    filter: invert(100%);
    border: 2px solid black;
    transform: translateY(-3px);
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.5);
}

.boton_iniciar_sesion:active {
    /* se reduce el la escala del boton cuando se le 
    da click para dar la sensacion que se dio click */
    scale: 0.95;
}

.separacion {
    /* separación del formulario al la parte superior del header */
    height: 12vh;
}







.fondo img {
    /* tamaño a la imagen de fondo para que ocupe todo el espacio */
    width: 100%;
}

.fondo {
    /* Contenedor de la imagen de fondo */
    margin-bottom: 70px;
    position: relative;
    /* para ubicar el buscador */
}

.container-busqueda {
    /* contenedorde los inputs de busqueda */
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 70%;
    left: 50%;
    transform: translatex(-50%);
    padding: 30px;
    border-radius: 0.7rem;
}

.estadia {
    /* contenedor del input de la ciudad donde va */
    position: relative;
}

.estadia img {
    /* icono dentro del contenedor de la ciudad */
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    left: 10px;
}

.estadia input {
    /* estilos del input */
    width: 270px;
    height: 40px;
    border-radius: 0.5rem;
    padding: 5px 5px 5px 38px;
    font-size: 16px;
    border: 2px solid #757575;
}

.fecha-ingreso input {
    /* estilos a el input de fecha de ingreso */
    width: 200px;
    height: 40px;
    border-radius: 0.4rem;
    padding: 5px 20px;
    font-size: 16px;
    border: 2px solid #757575;
}

.fecha-salida input {
    /* estilos a el input de fecha de salida */
    width: 200px;
    height: 40px;
    border-radius: 0.4rem;
    padding: 5px 20px;
    font-size: 16px;
    border: 2px solid #757575;
}

.cantidad-personas {
    /* contenedor del input del numero de personas */
    position: relative;
}

.cantidad-personas img {
    /* icono dentro del input de cantidad de personas */
    height: 24px;
    width: 24px;
    top: 7px;
    left: 10px;
    position: absolute;
}

.cantidad-personas input {
    /* estilos al input de cantidad de personas */
    width: 85px;
    height: 40px;
    border-radius: 0.4rem;
    padding: 5px 5px 5px 40px;
    font-size: 18px;
    border: 2px solid #757575;

}

.habitaciones input {
    /* estilos al input de cantidad de habitaciones */
    width: 85px;
    height: 40px;
    border-radius: 0.4rem;
    padding: 5px 5px 5px 40px;
    font-size: 18px;
    border: 2px solid #757575;
}

.habitaciones {
    /* contenedor del input de cantidad de habitaciones */
    position: relative;
}

.habitaciones img {
    /* icono de la cama dentro del inpput de cantidad de habitaciones */
    height: 24px;
    width: 24px;
    top: 7px;
    left: 10px;
    position: absolute;
}

.container-busqueda button {
    /* estilos del boton de buscar */
    width: auto;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #172D43;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contenedor-texto {
    /* contenedor del texto de los hoteles */
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #13004F;
    margin-bottom: 70px;
}

main {
    /* contenedor principal */
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.todos-los-hoteles {
    /* contenedor de todos los divs de los hoteles */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hoteles {
    /* contenedores de los divs de los hoteles*/
    display: flex;
    align-items: center;
    gap: 45px;
}

.hotel {
    /* banner de cada hotel */
    background-color: white;
    width: 373px;
    height: 620px;
    border: 2px solid #d9d9d9;
    border-radius: 0.7rem;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.25);
}

.contenido-hoteles {
    /* contenido de la informacion de cada hotel */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 30px;
    padding-top: 25px;
    position: relative;
}

.alojamiento,
.metros-del-centro,
.ciudad-estadia,
.personas-noches,
.precio-antes {
    /* texto alojamiento */
    font-weight: 600;
    font-size: 13px;
    color: #757575;
}

.contenido-hoteles h3 {
    /* nombre del hotel */
    font-size: 18px;
    color: #13004F;
}

.calificacion {
    /* estilos a la calificación */
    display: flex;
    align-items: center;
    gap: 10px;
}

.puntaje {
    /* estilos del puntaje (numero) */
    background-color: rgba(3, 166, 145, 1);
    color: rgba(230, 243, 224, 1);
    padding: 3px 6px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0.3rem;
}

.servicios-hotel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.precio-antes {
    text-decoration: line-through;
}

.precio {
    font-size: 18px;
    color: #13004F;
}

.linea {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.descuento {
    height: 37px;
    width: 55px;
    position: absolute;
    bottom: 35px;
    right: 0;
}

.triangulo {
    position: absolute;
    right: 0;
}

.rectangulo {
    position: absolute;
    right: 0;
    bottom: 0;
}

.descuento p {
    position: absolute;
    color: rgba(230, 243, 224, 1);
    font-weight: 500;
    font-size: 14px;
    bottom: 5px;
    right: 7px;
    z-index: 1;
}











footer {
    /* Pie de pagina */
    margin-top: 50px;
    background-color: #353535;
    padding: 0 80px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-redes {
    /* Contenedor del logo y las redes */
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px;
}

.logo-redes img {
    /* tamaño al logo */
    width: 250px;
    height: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo-redes img:hover {
    transform: scale(1.03);
}

.redes {
    /* contenedor de las redes */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.redes p {
    /* Texto de siguenos de las redes */
    font-weight: 600;
    font-size: 1.5rem;
}

.redes div {
    /* contenedor de los iconos de las redes */
    display: flex;
    align-items: center;
    gap: 10px;
}

.redes div img {
    /* Tamaño a los iconos */
    width: 30px;
    filter: invert(100%);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.redes div img:hover {
    transform: scale(1.1);
}

.container-contacto-secciones-servicios {
    /* Contenedor de las secciones del footer */
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
    color: white;
}

.container-contacto-secciones-servicios h3 {
    /* Titulo de las secciones */
    margin-bottom: 20px;
}

.container-contacto-secciones-servicios p {
    /* Parrafos de las secciones del pie de pagina */
    margin-top: 10px;
}



@media(max-width: 1350px) {

    /* HEADER */
    .boton_moneda {
        display: none !important;
    }


    .contenedor-texto {
        /* contenedor del texto de los hoteles */
        font-size: 0.7rem;
    }



    /* FORMULARIO */


    .fondo {
        /* Contenedor de la imagen de fondo */
        margin-bottom: 200px;
        /* para ubicar el buscador */
    }

    .container-busqueda {
        /* contenedorde los inputs de busqueda */
        border: 2px solid #d1d1d1;
        top: 50%;
        border-radius: 0.7rem;

        flex-wrap: wrap;
    }

    .estadia input {
        /* estilos del input */
        width: 310px;
    }

    .fecha-ingreso input {
        /* estilos a el input de fecha de ingreso */
        width: 310px;
    }



    /* SECCION DE LOS HOTELES */

    .hoteles {
        /* contenedores de los divs de los hoteles*/
        flex-direction: column;
    }
}



@media(max-width: 500px) {

    /* HEADER */
    /* se ajusta el tamaño del logo */
    .logo_flynova {
        width: 180px;
    }

    .header {
        padding: 0 20px;
    }

    .boton_iniciar_sesion {
        /* estilos del boton iniciar sesion */
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        gap: 10px;
        font-size: 0.8rem;
        font-weight: 500;
        outline: none;
        border: 2px solid transparent;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 8px 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        p {
            width: fit-content;
        }

        img {
            height: 18px;
        }
    }

    .separacion {
        /* separación del formulario al la parte superior del header */
        height: 70px;
    }





        .fondo {
        /* Contenedor de la imagen de fondo */
        margin-bottom: 270px;
        /* para ubicar el buscador */
    }

        .contenedor-texto {
        /* contenedor del texto de los hoteles */
        display: none;
    }





    /* FOOTER */

    footer {
        padding: 0 20px;
    }

    .logo-redes {
        /* Contenedor del logo y las redes */
        justify-content: space-between;
        padding-top: 50px;
    }

    .logo-redes img {
        /* tamaño al logo */
        width: 170px;
        height: 30PX;
    }

    .redes p {
        /* Texto de siguenos de las redes */
        font-size: 1.2rem;
    }

    .redes div img {
        /* Tamaño a los iconos */
        width: 20px;
    }

    .container-contacto-secciones-servicios {
        /* Contenedor de las secciones del footer */
        width: 100%;
        margin-top: 30px;
        gap: 45px;
        font-size: 0.7rem;

    }

    .container-contacto-secciones-servicios h3 {
        /* Titulo de las secciones */
        margin-bottom: 20px;
    }

    .container-contacto-secciones-servicios p {
        /* Parrafos de las secciones del pie de pagina */
        margin-top: 10px;
    }
}