* {
    /* estilos para resetear la pagina */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* para scroll suave entre secciones*/
    font-family: Montserrat, sans-serif;
    /* tipo de letra de la pagina */
}

body {
    background-color: #fafafa;
}

.header {
    /* Estilos del header de la pagina */
    background-color: #172D43;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo_flynova {
    /* tamaño del logo del header */
    width: 250px;
}

.icono_user {
    /* tamaño del icono de user */
    height: 24px;
}

.menu_navegacion {
    /* estilos del menu de navegacion entre las secciones */
    color: white;
}

.container_botones_header {
    /* contenedor de los botones de moneda y de iniciar
    sesion */
    display: flex;
    align-items: center;

}

.boton_moneda {
    /* estilos del boton moneda */
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    width: 140px;
}

.boton_iniciar_sesion {
    /* estilos del boton iniciar sesion */
    display: flex;
    align-items: center;
    width: 165px;
    height: 45px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    p {
        width: 120px;
    }
}

.boton_iniciar_sesion:hover {
    /* estilos de cuando se hace hocer en el boton de 
    iniciar sesion */
    background-color: transparent;
    filter: invert(100%);
    border: 2px solid black;
    transform: translateY(-3px);
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.5);
}

.boton_iniciar_sesion:active {
    /* se reduce el la escala del boton cuando se le 
    da click para dar la sensacion que se dio click */
    scale: 0.95;
}

.separacion {
    /* separación del formulario al la parte superior del header */
    height: 12vh;
}







.fondo {
    /* contenedor del fondo */
    margin-bottom: 70px;
}

.fondo img {
    /* tamño de la imgaen de fondo */
    width: 100%;
}

.container-banner-paquetes {
    /* contenedor padre del banner de paquetes */
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 290px;
}

.banner-paquetes {
    /* contenedor de los elementos del banner */
    width: 77%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.imagen {
    /* posicion de la imagen */
    position: absolute;
    left: 0;
}

.rectangulo {
    /* posicion del rectangulo con degradado */
    position: absolute;
    right: 0;
}

.texto-banner {
    /* contenedor del texto del banner */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-size: 36px;
    font-weight: 600;
    gap: 5px;
    top: 60px;
    right: 55px;
}

.container-texto-paquetes {
    /* contenedor del texto de los paquetes */
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-left: 140px;
    margin-bottom: 70px;
}

.container-texto-paquetes h1 {
    /* estilos al titulo */
    font-size: 36px;
    color: #13004f;
}

.container-texto-paquetes p {
    /* estilos al parrafo */
    font-weight: 600;
    font-size: 20px;
    color: #13004f;
}

main {
    /* contenido principal */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
}

.container-paquetes {
    /* contenedor de los paquetes */
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 45px;
}

.paquete {
    /* estilo de los banner de cada paquete */
    width: 374px;
    height: 650px;
    border-radius: 0.7rem;
    border: 2px solid #d9d9d9;
    background-color: white;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.25);
    position: relative;
}

.contenido {
    /* contenido de los banner de los paquetes */
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 30px;
    padding-top: 20px;
}

.dias-noche {
    /* contenedor de dias y noches de los paquetes */
    background-color: rgba(63, 149, 250, 1);
    width: fit-content;
    border-radius: 0.3rem;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 230px;
}

.texto-paquete,
.ciudad-partida,
.hotel-vuelo,
.precio-persona {
    /* estilos del texto paquetes, ciudad de partida, hotel + vuelo y precio por persona */
    font-size: 15px;
    color: #757575;
    font-weight: 500;
}

.contenido h3 {
    /* color y tamaño al nombre del paquete */
    font-size: 20px;
    color: #13004F;
}

.calificacion {
    /* contenedor de la calificacion */
    display: flex;
    align-items: center;
    gap: 10px;
}

.puntaje {
    /* estilos del puntaje en numeros */
    background-color: rgba(3, 166, 145, 1);
    color: rgba(230, 243, 224, 1);
    padding: 3px 6px;
    border-radius: 0.3rem;
    font-size: 16px;
    font-weight: 600;
}

.hotel-vuelo {
    /* se separa el texto hotel + vuelos de precio por persona para que quepa entre los dos */
    margin-bottom: 50px;
}

.ahorro {
    /* estilo del contenedor de ahorro */
    background-color: rgba(230, 251, 244, 1);
    width: fit-content;
    border: 2px solid rgba(3, 166, 145, 1);
    border-radius: 0.3rem;
    padding: 5px 10px;
    font-weight: 600;
    position: absolute;
    left: 45px;
    bottom: 150px;
    z-index: 1;
}

.precio-antes {
    /* estilos del precio antes */
    font-size: 15px;
    color: #757575;
    font-weight: 600;
    text-decoration: line-through;
}

.precio {
    /* estilos del precio ahora */
    color: #13004F;
    font-size: 24px;
}

.linea {
    /* se posiciona la linea en absoluto por el padding del contenedor contenido */
    position: absolute;
    right: 0;
    bottom: 165px;
}








footer {
    /* Pie de pagina */
    margin-top: 50px;
    background-color: #353535;
    padding: 0 80px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-redes {
    /* Contenedor del logo y las redes */
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px;
}

.logo-redes img {
    /* tamaño al logo */
    width: 250px;
    height: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo-redes img:hover {
    transform: scale(1.03);
}

.redes {
    /* contenedor de las redes */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.redes p {
    /* Texto de siguenos de las redes */
    font-weight: 600;
    font-size: 1.5rem;
}

.redes div {
    /* contenedor de los iconos de las redes */
    display: flex;
    align-items: center;
    gap: 10px;
}

.redes div img {
    /* Tamaño a los iconos */
    width: 30px;
    filter: invert(100%);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.redes div img:hover {
    transform: scale(1.1);
}

.container-contacto-secciones-servicios {
    /* Contenedor de las secciones del footer */
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
    color: white;
}

.container-contacto-secciones-servicios h3 {
    /* Titulo de las secciones */
    margin-bottom: 20px;
}

.container-contacto-secciones-servicios p {
    /* Parrafos de las secciones del pie de pagina */
    margin-top: 10px;
}



@media(max-width: 1350px) {

    /* HEADER */
    .boton_moneda {
        display: none !important;
    }


    .container-banner-paquetes {
        /* contenedor padre del banner de paquetes */
        margin-bottom: 180px;
    }

    .banner-paquetes {
        /* contenedor de los elementos del banner */
        transform: translateX(-50%);
    }

    .imagen {
        /* posicion de la imagen */
        display: none;
    }

    .rectangulo {
        /* posicion del rectangulo con degradado */
        display: none;
    }

    .texto-banner {
        /* contenedor del texto del banner */
        background: linear-gradient(to right, #7B107A, #6617A3);
        border-radius: 0.8rem;
        padding: 30px;
        width: fit-content;
        font-size: 1.85rem;
        top: 0;
        right: 0;
    }

    .container-texto-paquetes {
        /* contenedor del texto de los paquetes */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 25px;
        padding-left: 0;
        margin-bottom: 60px;
    }

    .container-texto-paquetes h1 {
        /* estilos al titulo */
        font-size: 1.5rem;
    }

    .container-texto-paquetes p {
        /* estilos al parrafo */
        font-size: 1.2rem;
    }


    /* SECCION DE LOS PAQUETES */
    .container-paquetes {
        /* contenedor de los paquetes */
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}



@media(max-width: 500px) {

    /* HEADER */
    /* se ajusta el tamaño del logo */
    .logo_flynova {
        width: 180px;
    }

    .header {
        padding: 0 20px;
    }

    .boton_iniciar_sesion {
        /* estilos del boton iniciar sesion */
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        gap: 10px;
        font-size: 0.8rem;
        font-weight: 500;
        outline: none;
        border: 2px solid transparent;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 8px 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        p {
            width: fit-content;
        }

        img {
            height: 18px;
        }
    }

    .separacion {
        /* separación del formulario al la parte superior del header */
        height: 70px;
    }




    .fondo {
        /* contenedor del fondo */
        margin-bottom: 10px;
    }


    .container-banner-paquetes {
        /* contenedor padre del banner de paquetes */
        margin-bottom: 140px;
    }

    .banner-paquetes {
        /* contenedor de los elementos del banner */
        width: 90%; 
        transform: translateX(-50%);
    }

    .texto-banner {
        /* contenedor del texto del banner */
        font-size: 1.14rem;

    }

    .container-texto-paquetes {
        /* contenedor del texto de los paquetes */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding-left: 0;
        margin-bottom: 40px;
    }

    .container-texto-paquetes h1 {
        /* estilos al titulo */
        font-size: 1rem;
    }

    .container-texto-paquetes p {
        /* estilos al parrafo */
        font-size: 0.9rem;
    }





    /* FOOTER */

    footer {
        padding: 0 20px;
    }

    .logo-redes {
        /* Contenedor del logo y las redes */
        justify-content: space-between;
        padding-top: 50px;
    }

    .logo-redes img {
        /* tamaño al logo */
        width: 170px;
        height: 30PX;
    }

    .redes p {
        /* Texto de siguenos de las redes */
        font-size: 1.2rem;
    }

    .redes div img {
        /* Tamaño a los iconos */
        width: 20px;
    }

    .container-contacto-secciones-servicios {
        /* Contenedor de las secciones del footer */
        width: 100%;
        margin-top: 30px;
        gap: 45px;
        font-size: 0.7rem;

    }

    .container-contacto-secciones-servicios h3 {
        /* Titulo de las secciones */
        margin-bottom: 20px;
    }

    .container-contacto-secciones-servicios p {
        /* Parrafos de las secciones del pie de pagina */
        margin-top: 10px;
    }
}