* {
    /* estilos para resetear la pagina */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* para scroll suave entre secciones*/
    font-family: Montserrat, sans-serif;
    /* tipo de letra de la pagina */
}

body {
    background-color: #fafafa;
    margin-bottom: 80px;
}

.header {
    /* Estilos del header de la pagina */
    background-color: #172D43;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo_flynova {
    /* tamaño del logo del header */
    width: 250px;
}

.icono_user {
    /* tamaño del icono de user */
    height: 24px;
}

.menu_navegacion {
    /* estilos del menu de navegacion entre las secciones */
    list-style: none;
    align-items: center;
    color: white;

    a {
        /* estilos de las secciones de los encabezados */
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0 1.5vw;
        color: white;
        font-weight: 500;
        position: relative;
        /* posicion relativa para poner delineado despues
        con after */
        transition: 0.5s;
    }
}

.menu_navegacion a::after {
    /* Se le agrega linea debajo de los nombres de las secciones
    con after y se oculta por defecto */
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.menu_navegacion a:hover::after {
    /* se aparece la linea debajo de los nombres de las secciones
    con hover */
    transform: scaleX(1);
}

.container_botones_header {
    /* contenedor de los botones de moneda y de iniciar
    sesion */
    display: flex;
    align-items: center;

    .boton_moneda {
        /* estilos del boton moneda */
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        width: 140px;
    }

    .boton_iniciar_sesion {
        /* estilos del boton iniciar sesion */
        display: flex;
        align-items: center;
        width: 165px;
        height: 45px;
        gap: 10px;
        font-size: 1rem;
        font-weight: 500;
        outline: none;
        border: 2px solid transparent;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        p {
            width: 120px;
        }
    }
}

/* Boton de iniciar sesion para movil, 
este va dentro del menu de hamburquesa */
.boton_iniciar_sesion_movil {
    display: flex;
    align-items: center;

    width: 165px;
    height: 45px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: none;

    p {
        width: 130px;
    }
}

.boton_iniciar_sesion:hover,
.boton_iniciar_sesion_movil:hover {
    /* estilos de cuando se hace hocer en el boton de 
    iniciar sesion */
    background-color: transparent;
    filter: invert(100%);
    border: 2px solid black;
    transform: translateY(-3px);
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.5);
}

.boton_iniciar_sesion:active {
    /* se reduce el la escala del boton cuando se le 
    da click para dar la sensacion que se dio click */
    scale: 0.95;
}

.separador_del_header_al_fondo {
    width: 100%;
    height: 80px;
}

/* tamaño del contendor del sondo y la imagen de fondo */
.container_fondo,
.fondo_header {
    width: 100%;
}

/* posicion relativa para ubicar el formulario de los vuelos */
.container_fondo {
    position: relative;
}

/* Estilos de los label que son estilos amburguesa y equis de cerrrar para 
resposive */
.mostrar-menu,
.ocultar-menu {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    position: absolute;
    right: 40px;
    z-index: 1;
}

/* hover para los label del resposive */
.mostrar-menu:hover,
.ocultar-menu:hover {
    color: #6cc091;
    scale: 1.1;
}

/* se oculta el check */
#check-menu {
    display: none;
}

/* efecto de desenfoque al fondo cuando salga una ventana */
.fondo-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    display: none;
    transition: 0.8s;
}

/* estilo y posicion del formulario de vuelo */
.formulario-de-vuelo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 83%;
    top: 55%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.25);
}

/* contenedor de los inputs tipo radio y los label*/
.container-radios-check {
    margin: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* contenedor de los contenderes de los inputs tipo radio con sus label */
.container-radio-ida-y-vuelta {
    padding: 10px 20px;
    background-color: white;
    border-radius: 1.1rem;
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 500;
    color: #162916;
    border: 1px solid #ccc;


    /* estilos de los inputs tipo radio */
    input {
        scale: 1.3;
        margin-right: 3px;
        accent-color: #144d86;
    }
}

/* contenedor del input tipo check con el label */
.container-check {
    padding: 10px 20px;
    background-color: white;
    border-radius: 1.1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #162916;
    border: 1px solid #ccc;


    /* estilos del input tipo check */
    input {
        scale: 1.3;
        margin-right: 7px;
        accent-color: #144d86;
    }
}

/* estilos del contenedor de los inputs tipo text, date, number
y boton de buscar */
.container-datos-de-vuelo {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-radius: 0 0 0.7rem 0.7rem;
    border: 1px solid #d3d3d3;
    padding: 30px 20px;
    flex-wrap: wrap;
    gap: 10px;

    /* estilos de la linea que esta entre los dos inputs de busque de ciudades */
    span {
        z-index: 1;
        font-size: 1.5rem;
        color: #d3d3d3;
    }
}

/* estilos del contenedor que contiene los dos inputs de ciudades para
mantener los inputs juntos */
.container-inputs-ciudades {
    display: flex;
    align-items: center;
}

/* contenedor de los inputs de ciudades con posicion relativa
para acomodar los iconos de aviones dentro */
.container-input,
.container-cantidad-personas {
    position: relative;

    /* estilos de los iconos de aviones dentro de los inputs */
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    }
}

/* estilos del input de origen */
#input-origen {
    padding: 5px 10px 5px 45px;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    width: 290px;
    border: 2px solid #d3d3d3;
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
}

/* se le quita el a los inputs para cuando se seleccionen 
no salga lineas oscuras en los bordes */
#input-origen:focus,
#input-destino {
    outline: none;
}

/* estilos del input de destino */
#input-destino {
    padding: 5px 10px 5px 50px;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    width: 300px;
    border: 2px solid #d3d3d3;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: none;
    margin-left: -7px;
}

/* contenedor de los inputs de fecha para mantener una linea entre ellos */
.container-inputs-fechas {
    display: flex;
    align-items: center;
}

/* estilos del input de fecha de ida */
.input-fecha-ida {
    height: 40px;
    width: 200px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid #d3d3d3;
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
}

/* estilos del input de fecha de vuelta */
.input-fecha-vuelta {
    height: 40px;
    width: 200px;
    padding: 5px 10px 5px 18px;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid #d3d3d3;
    margin-left: -8px;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
}

/* estilos del input de cantidad de personas */
.input-personas {
    height: 40px;
    width: 85px;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid #d3d3d3;
    border-radius: 0.5rem;
    padding: 5px 5px 5px 42px;
}

/* estilos del boton de buscar */
.btn-buscar {
    font-size: 1rem;
    font-weight: 500;
    background-color: #172D43;
    border-radius: 0.5rem;
    border: none;
    color: white;
    padding: 10px 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn-buscar:hover {
    scale: 1.03;
}

.btn-buscar:active {
    scale: 1;
}

/* estilos del contenedor principal de la pagina */
main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* para centrar el contenido porque se veia rodado */
    padding: 0 8vw;
}

/* contenedor de los mesajes de vuelos en promoción */
.container-mensaje-de-promocion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0;

    /* tamaño del titulo de la primera sección */
    h1 {
        font-size: 2rem;
    }

    /* estilos del parrafo de la primera sección */
    p {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.3;
    }
}

/* Estilos del contenedor de la primera sección de los vuelos
en promoción */
.seccion-vuelos-en-oferta {
    max-width: 1300px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* banner de cada ciudad con la imagen y el contenido */
.banner-ciudad-promocion {
    width: fit-content;
    height: fit-content;
    border: 2px solid #d3d3d3;
    border-radius: 0.7rem;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

/* contenedor de la información del los banner de las ciudades en
promoción */
.container-info-ciudad {
    margin-top: 20px;
    color: #162916;
    padding: 0 25px 25px 25px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* estilos y posición del texto de recomendado para tí */
.recomendado-para-ti {
    position: absolute;
    background-color: rgba(102, 23, 163, 1);
    border-radius: 0.8rem 0.8rem 0 0.8rem;
    box-shadow: 0 5px 2px 0px rgba(0, 0, 0, 0.2);
    width: fit-content;
    color: #fafafa;
    font-weight: 500;
    padding: 5px 10px;
    right: 0;
    top: 50%;
}

/* estilos de la fecha de los viajes */
.fecha-viaje-promocion {
    font-size: 1rem;
    font-weight: 500;
    color: #5d5d5d;

    /* se pone en negrita para resaltar si es de ida o ida y vuelta */
    span {
        font-weight: 700;
        color: #162916;
    }
}

/* estilos del texto de acumula puntos del banner de las ciudades */
.acumula-puntos {
    background-color: rgba(128, 15, 113, 1);
    color: #fafafa;
    font-weight: 500;
    font-size: 0.9rem;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 0.7rem;
    margin: 10px 0 10px 20px;
}

/* texto de precio por persona de los banners */
.p-precio-por-persona {
    font-size: 0.9rem;
    font-weight: 500;
    color: #5d5d5d;
}

/* contenedor del precio de los vuelos y la fecha de next */
.container-precio-next {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* tamaño del texto completo del precio */
    p {
        font-size: 1.6rem;

        /* se pone en negrita el precio para resaltar */
        span {
            font-weight: 600;
        }
    }

    /* Tamaño del icono de next */
    img {
        width: 2rem;
    }
}

/* efeecto hover de los banner de las ciudades */
.banner-ciudad-promocion:hover {
    scale: 1.01;
}

/* estilos del enlace de ver más vuelos */
.ver-mas-vuelos,
.ver-mas-paquetes {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    color: #162916;
    transition: 0.2s;
}

/* efecto de hover del enlace de ver más vuelos */
.ver-mas-vuelos:hover,
.ver-mas-paquetes:hover {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    transform: translateY(-1px);
}

/* contenedor del banner del perro */
.container-banner-perro {
    width: fit-content;
    padding: 0 50px;
    position: relative;

    /* tamaño de la imagen relacionado al tamaño del padre (responsive) */
    img {
        width: 100%;
    }

    /* tamño, color y posicion del texto del banner del perro */
    .texto_banner_del_perro {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;
        right: 9%;
        top: 50%;
        transform: translateY(-50%);
        color: #fafafa;
        font-weight: 600;
        font-size: 2.5rem;
    }
}

/* subtitulo de vamonos de vacaciones para la sección de paquetes */
.container-subtitulo-vamonos-de-vacaiones,
/* subtitulo de descubre los destinos más populares */
.container-subtitulo-descubre-destinos {
    width: 100%;
    display: flex;
    align-items: start;
    font-size: 1.5rem;
    color: #162916;
}

/* estilos de la seccion de paquetes */
.seccion-paquetes {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* Estilos del banner que contiene la imagen y la información
 de cada paquete */
.banner-ciudad-paquete {
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 2px solid #d3d3d3;
    border-radius: 0.7rem;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

/* Efecto hover sobre el banner de cada paquete */
.banner-ciudad-paquete:hover {
    scale: 1.01;
}

/* Estilos y posición de la información de los días y noches 
en cada paquete */
.dias-noches {
    position: absolute;
    background-color: rgba(63, 149, 250, 1);
    left: 5%;
    top: 38%;
    color: #fafafa;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.3rem;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

/* Contenesor de la información de cada paquete */
.container-info-ciudad-paquete {
    margin-top: 30px;
    padding: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* estilos del parrafo paquete */
.p-paquete {
    color: #5d5d5d;
    font-weight: 500;
    font-size: 0.9rem;
}

/* estilos delnombre de cada paquete */
.nombre-ciudad-paquete {
    font-size: 1.2rem;
    color: #162916;
}

/* contenedor de la punuación de cada paquete */
.container-puntuacion {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* estilos de la puntuación de cada paquete */
.puntos {
    background-color: rgba(3, 166, 145, 1);
    padding: 3px 7px;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* estilos de los parrafos de...👇 */
.partiendo-desde-bogota,
.p-hotel-mas-vuelo,
.precio-por-persona {
    color: #5d5d5d;
    font-size: 0.9rem;
    font-weight: 500;
}

/* estilos del parrafo de ahorras */
.p-ahorras {
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid rgba(3, 166, 145, 1);
    background-color: rgba(230, 251, 244, 1);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 0.4rem;
    margin: 5px 0 5px 20px;
    position: relative;
    z-index: 1;
}

/* estilo del precio de antes */
.p-precio-antes {
    color: #5d5d5d;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: line-through;
}

/* estilos del precio de ahora */
.precio-paquete {
    font-size: 1.5rem;
    font-weight: 400;

    span {
        font-weight: 600;
    }
}

/* posición de la linea de los paquetes */
.linea {
    position: absolute;
    bottom: 23%;
}

/* estilos de la sección de los destinos mas populares */
.seccion-destinos-mas-populares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 45px;
}

/* estilos de los articulos de las ciudades mas populares */
.ciudad-popular {
    height: fit-content;
    width: fit-content;
    border: none;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

/* efecto hover sobre las ciudades mas populares */
.ciudad-popular:hover {
    scale: 1.01;
}

/* contenedor de la información de las ciudades */
.container-info-destinos-populares {
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: rgba(19, 0, 79, 0.9);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0 0 0.7rem 0.7rem;

    /* contenedor del icono de corazón y los likes */
    .container-likes {
        display: flex;
        align-items: center;
        gap: 5px;
        filter: invert(100%);
    }

    /* contenedor del icono de lugar y el lugar */
    .container-ubicacion {
        display: flex;
        gap: 5px;
        align-items: center;
        filter: invert(100%);
    }
}

/* estilos y posición del conntenedor
 del numero de la ciudad y el degradado */
.container-rank-degradado {
    width: 100%;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 500;
    height: 90px;
    top: 53%;
    color: #fafafa;
    background-image: linear-gradient(to bottom, rgba(44, 0, 181, 0), rgba(19, 0, 79, 1));
    padding: 55px 0 5px 20px;
}

/* RESPONSIVE */

@media(max-width: 1350px) {

    /* HEADER */
    .mostrar-menu,
    .ocultar-menu {
        /* para que aparezcan los elementos de la hamburquesa */
        display: block;
    }

    .boton_moneda {
        display: none !important;
    }

    /* se le hace espacio al label hamburguesa se puso en posición 
        absoluta para poder posicionarlo bien */
    .header {
        padding: 0 80px 0 40px;
    }

    /* la separacion entre los nombres de las secciones se elimina */
    .separacion {
        display: none;
    }

    .menu_navegacion a:hover::after {
        /* se aparece la linea debajo de los nombres de las secciones
    con hover */
        display: none;
    }

    .menu_navegacion a:hover {
        scale: 1.1;
    }

    /* estilos del menu de navegacion para la nueva 
        interfaz */
    .menu_navegacion {
        position: fixed;
        width: 60%;
        height: 100vh;
        background-color: #172D43;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    /* añadir logo de flynova al menú desplegable */
    .menu_navegacion::after {
        content: '';
        display: block;
        width: 250px;
        height: 60px;
        background-image: url(../Assets/compartidos/Logos/logo\ flynova\ gris.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    /* estilos de los nombres de las secciones en el nuevo menu */
    .menu_navegacion a {
        display: block;
        width: fit-content;
        padding: 20px 20px 20px 40px;
    }

    .menu_navegacion {
        padding-top: 100px;
    }

    /* posicion de la equis para cerrar el menu de hamburguesa */
    .ocultar-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    /* evento para cuando se le de al menu o a la equis para cerrarlo */
    #check-menu:checked~.menu_navegacion {

        right: 0%;
    }

    #check-menu:checked~.fondo-blur {
        display: block;
    }

    /* SECCION DE VUELOS EN PROMOCIÓN */
    .seccion-vuelos-en-oferta {
        grid-template-columns: 1fr;
    }

    /* BANNER DEL PERRO EN LA PLAYA */
    .container-banner-perro {
        display: none;
    }

    /* SECCION DE PAQUETES */
    .seccion-paquetes {
        grid-template-columns: 1fr;
    }

    .container-subtitulo-vamonos-de-vacaiones {
        justify-content: center;
    }

    /* SECCION DE DESCUBRE LOS DESTINOS MAS POPULARES */
    .seccion-destinos-mas-populares {
        grid-template-columns: 1fr;
    }

    .container-subtitulo-descubre-destinos {
        justify-content: center;
    }


}


/* MENSAJE DE PROMOCIÓN DEBAJO DEL BUSCADOR DE VUELO */
@media(max-width:870px) {
    .container-mensaje-de-promocion {
        margin-top: 10vh;
    }

    /* SECCION DE DESCUBRE LOS DESTINOS MAS POPULARES */
    .container-subtitulo-descubre-destinos {
        font-size: 1.3rem;
    }
}



@media(max-width: 500px) {

    /* BUSQUEDA DE VUELOS */
    /* se ponen mas pequenos los input de busqueda de vuelo */
    #input-origen,
    #input-destino,
    .input-fecha-ida,
    .input-fecha-vuelta {
        width: 155px;
    }

    /* se separa del borde el checkbox de reservar con puntos */
    .container-check {
        margin-right: 15px;
    }

    /* se ajuusta el tamaño de la letra para la versión movil */
    .container-radios-check label {
        font-size: 0.8rem;
    }

    /* HEADER */
    /* se ajusta el tamaño del logo */
    .logo_flynova {
        width: 180px;
    }

    /* se oculta el botón de iniciar sesión para la versión movil */
    .boton_iniciar_sesion {
        display: none !important;
    }

    /* MENÚ DESPLEGABLE HAMBURGUESA */
    /* se edita el tamaño del logo en el menú desplegable */
    .menu_navegacion::after {
        content: '';
        display: block;
        width: 150px;
        height: 60px;
        background-image: url(../Assets/compartidos/Logos/logo\ flynova\ gris.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    /* estilos del btón de iniciar sesión de la versión movil
    y centrarlo */
    .boton_iniciar_sesion_movil {
        margin-left: 45px;
        margin-bottom: 20px;
        display: flex;
    }

    /* se centrán los nombres de las secciones en el menú desplegable */
    .menu_navegacion a {
        display: block;
        width: fit-content;
        padding: 20px 20px 20px 70px;
    }

    /* posicion de la equis para cerrar el menu de hamburguesa */
    .ocultar-menu {
        position: absolute;
        top: 30px;
        right: 40px;
    }

    /* CONTENEDOR PRINCIPAL */
    main {
        /* para centrar el contenido */
        padding: 0 6.5vw;
    }

    /* MENSAJE DE PROMOCION DE LOS VUELOS */
    .container-mensaje-de-promocion {
        display: none;
    }

    /* SECCION DE VUELOS EN PROMOCIÓN */
    .seccion-vuelos-en-oferta {
        margin-top: 31vh;
    }

    /* SECCION DE PAQUETES */
    .container-subtitulo-vamonos-de-vacaiones {
        font-size: 1.1rem;
    }

    /* SECCION DE DESCUBRE LOS DESTINOS MAS POPULARES */
    .ocultar_ciudad {
        display: none;
    }
}